doctype html

- var d1 = { "name":"<% file.name %>", "hash":"<% file.hash %>", "href":"<% file.download_url %>" }

- var downloads = [d1]

html(ng-app="downloadsModule")
  head
    script(src="bower_components/hammerjs/hammer.min.js", type="text/javascript")
    script(src="bower_components/angular/angular.min.js", type="text/javascript")
    script(src="bower_components/angular-animate/angular-animate.min.js", type="text/javascript")
    script(src="bower_components/angular-aria/angular-aria.min.js", type="text/javascript")
    script(src="bower_components/angular-material/angular-material.min.js", type="text/javascript")
    link(href="bower_components/angular-material/angular-material.min.css", rel="stylesheet")
    link(href="bower_components/angular-material/themes/green-theme.css", rel="stylesheet")
    link(href="sopro-downloads.css", rel="stylesheet")
  body(ng-controller="downloadsCtrl", layout-fill, layout="vertical")
    md-toolbar(md-theme="green") 
      |download.societypro.org
    md-content(flex)
      each download in downloads
        md-card
          a(href=download.href)!= download.name
          |Hash: #{download.hash} 